polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec") {
        var prog = action.lookup("program");
        if (prog == "/usr/lib/zachos/zach-update-apply") {
            return polkit.Result.AUTH_ADMIN;
        }
        if (prog == "/usr/lib/zachos/zach-driver-rollback") {
            return polkit.Result.AUTH_ADMIN;
        }
    }
});
